{% extends 'base.html' %}

{% block title %}
  Todo list
{% endblock %}

{% block content %}
  {% if request.user.is_authenticated %}  
    <a href="{% url 'logout' %}" class='btn btn-danger'> Logout </a>
    <a href="{% url 'create' %}" class="btn btn-info"> Create Todo </a>
  {% else %}
    <a href="{% url 'register' %}" class='btn btn-info'> register </a>
    <a href="{% url 'login' %}" class='btn btn-info'> Login </a>
  {% endif %}


<p> You are logged in as user:  {{ request.user }} </p>


  <div class="card">
    {% for todo in all %}
      <p>
        <a class='card-body' href="{% url 'detail' todo.id %}">{{ todo.title }}</a>
      </p>
    {% endfor %}

  </div>
{% endblock %}